@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title.</h2>

<div>
    <p>
        Предлагаме уютна и хигиенична атмосфера за любимите ви животинки в домашни условия, качествена храна, както и индивидуални боксове за всяко едно животно.
        *Социализираните животни може да се отглеждат и свободно (стига натовареността на хотела да го позволява).

        В хотела се приемат котки, гризачи, птици и рептилии.
        *Хотела разполага с 24 часово ветеринарномедицинско обслужване!
    </p>
    <img src="~/Content/Imgs/rooms.jpeg" alt="Стаите в хотела" class="pull-right" />
    <h3>При настаняването им в хотела животните трябва:</h3>
    <ul>
        <li>Да са здрави</li>
        <li>Да имат поставена ваксина</li>
        <li>Да са обезпаразитени вътрешно и външно</li>
        <li>Да имат валиден ветеринарно-медицински паспорт</li>
        <li>Да не са агресивни спрямо други себеподобни и хора</li>
    </ul>
    <h3>Престоя в хотела включва:</h3>
    <ul>
        <li>Индивидуално отношение и подход към всяко животно</li>
        <li>Разходка в екологично чист район - 3 пъти дневно</li>
        <li>Хранене един или два пъти дневно с подходяша храна</li>
        <li>в зависимост от хранителният режим, вида и породата.</li>
    </ul>
</div>
