@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    София, България<br />
    ж.к.Лагера<br />
    ул. Баба Илийца, до Детската градина<br />
    <abbr title="Phone">P:</abbr>
    0888-123-456
    <h1>TODO: ДА ВКАРАМ GOOGLE.MAPS API-то ;) за повече интеракция</h1>
</address>

<address>
    <strong>Заявки:</strong>   <a href="mailto:orders@petparadise.bg">orders@petparadise.bg</a><br />
    <strong>Бонус мейл линк:</strong> <a href="mailto:marketing@example.com">marketing@petparadise.bg</a>
</address>