@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>

<address>
    <div>
        <h4>Може да ни намерите на:</h4>
        София, България<br />
        ж.к.Лагера<br />
        ул. Баба Илийца, до Детската градина<br />
        <abbr title="Phone">Телефон за връзка:</abbr>
        0888-123-456
    </div>
    <div>
        <iframe width="400" height="300" frameborder="0" scrolling="no" src="http://www.bgmaps.com/link/map/319DD923F093DE6D5E135338E5B5427A"></iframe>
    </div>
</address>

<address>
    <strong>За резержации:</strong> <a href="mailto:orders@petparadise.bg">orders@petparadise.bg</a><br />
    <strong>За реклама:</strong> <a href="mailto:marketing@example.com">marketing@petparadise.bg</a>
</address>