@{
    ViewBag.Title = "Home";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="pull-right">
            <img src="~/Content/Imgs/backyard-garden.jpg" alt="Our pet hotel" width="450" height="300" />
        </div>
        <h1 class="page-logo large">Pet Paradise</h1>
        <h3 class="lead">Хотелът, в който вашите любимци ще открият своят втори дом.</h3>
        <p>Тук може да оставите вашият домашен любимец докато сте на почивка или по работа.</p>
        <p>Най-честите ни посетители са кучета, но ние приемаме доста широк спектър от посетители: котки, гризачи(хамстери, зайци, морски свинчета), влечуги(игуани, змии, гущери), костенурки и т.н.</p>
        @Html.ActionLink("Подробно описание »", "About", "Home", new { Area = string.Empty }, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>24/7 ветеринар.</h2>
        <p>Непрестанно има на разположение ветеринар от професионална клиника, като при нужда винаги вашият любимец може да бъде откаран.</p>
        <p><a class="btn btn-default" href="http://www.bluecrossbg.com/index.php">Нашият доктор &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Само срещу 9.99лв. на ден.</h2>
        <p>Ако вашият любимец няма изградени хигиенни навици тогава цената е 12.99лв/ден. За гризачи и влечуги цените са между 5 и 10лв/ден в зависимост от големината им и необходимостта им от грижи.</p>
    </div>
</div>