@{
    ViewBag.Title = "Home";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h1 class="page-logo large">Pet Paradise</h1>
        <p class="lead">Хотелът, в който вашите любимци ще открият своят втори дом.</p>
        @Html.ActionLink("Подробно описание »", "About", "Home", new { Area = string.Empty }, new { @class = "btn btn-primary btn-lg" })
        <div class="pull-right">
            Kon`o
        </div>
    </div>
    
</div>
<br />

<div class="row">
    <div class="col-md-4">
        <h2>Шибни го да не мрънкя</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Полезна информация &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>24/7 е на разположение ветеринар.</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Нашият доктор &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Само срещу 19.99лв. на ден.</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ценоразпис &raquo;</a></p>
    </div>
</div>