@model IList<PetParadise.Web.ViewModels.Pets.ListPetViewModel>
@{
    ViewBag.Title = "Домашни Любимци";
}

<h2>Всички домашни любимци.</h2>
@if (Model.Count == 0)
{
    <h2>Нямате добавени любимци.</h2>
}

@for (int i = 0; i < Model.Count; i++)
{
    var currentPetIndex = i;
    if (currentPetIndex == Model.Count)
    {
        break;
    }
    var pet = Model[currentPetIndex];

    <div class="col-md-4">
        <a href="/Pets/Details/@pet.Id">
            <div class="alert alert-success">
                <h3>Име: @pet.Name</h3>
                <p>Собственик: @pet.OwnerName</p>
                <p>Вид: @pet.SpeciesName</p>
                <p>Порода: @(pet.BreedName != null ? pet.BreedName : "Не е въведена")</p>
            </div>
        </a>
    </div>
}

