@model IEnumerable<PetParadise.Data.Models.Pet>
           @* TODO: To use PetViewModel *@
@{
    ViewBag.Title = "Домашни Любимци";
}

<h2>Всички домашни любимци.</h2>
@* TODO: Use Template! *@

@{
    foreach (var pet in Model)
    {
        <div>
            <h3>Име: @pet.Name</h3>
            <p>Собственик: @pet.Owner.UserName</p>
            <p>Вид: @pet.Species.Name</p>
            <p>Порода: @(pet.Breed != null ? pet.Breed.Name : "Не е въведена")</p>
        </div>
        <hr />
    }
    if (Model.Count() == 0)
    {
        <h2>Няма записи.</h2>    
    }
}

